<h1>My Projects</h1>

<% @projects.each do |project| %>

	<h3><%= link_to project.title, [:my, project], :class => 'project' %></h3>
	<p><strong><%= project.teaser %></strong></p>
	<p><%= project.description %></p>
	<img class="image" src="<%= project.image %>" alt="<%= project.title %>">

	<%= link_to "Manage Images", new_my_project_image_path(project), :class => 'btn' %>
<% end %>

