<h1><%= @project.title %></h1>

<ul>
	<li><%= @project.teaser %></li>
	<li><%= @project.description %></li>
	<li><%= @project.goal %></li>
</ul>

<%= link_to "Back This Project", new_project_pledge_path(@project), { :class => 'btn' } %>

<% if @project.pledges.any? %>
	<div>

		<h2>Last pledge made</h2>
		<p><%= @project.pledges.last.amount %></p>
		
		<h2>Total pledges</h2>
		
		<p>Total pledged: <%= @total %> Dollars</p>
		
	</div>
<% end %>